*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(55, 157, 252);
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
    align-items: center;
}
.btn{
    width: 440px;
    height: 50px;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px #fff;
    font-size: 20px;
    color: #fff;
    background-color: violet;
}
.btn:last-child{
    margin-top: 20px;
}
input{
    width: 440px;
    height: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    border-left: 3px solid violet;
    box-shadow: 0 0 10px #999;
    font-size: 20px;
    padding: 0 5px;
}
input:last-child{
    margin-top: 20px;
}


.main{
    width: 80%;
    height: 90vh;
    box-shadow: 0 0 30px #fff;
    display: flex;
    border-radius: 20px;
}
.left{
    width: 50%;
    height: 100%;
    background-color: lightblue;
    background-image: url('https://static.vecteezy.com/system/resources/previews/004/901/408/original/abstract-geometric-purple-background-free-vector.jpg');
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    width: 50%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 150px 0;
}
.key_img{
    width: 300px;
}
.main_logo{
    font-size: 70px;
    color: #fff;
    font-family: monospace;
    margin-bottom: 50px;
}
#usersPage{
    width: 100%;
    height: 100vh;
    background-color: lavenderblush;
    flex-direction: column;
}
#backBtn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #000;
    position: absolute;
    right: 2%;
    background-image: url(close.png);
    background-size: cover;
}
.userPlace{
    width: 100%;
    height: 85vh;
    overflow: scroll;
    padding: 0px;
    background-color: lightblue;
}
.logo2{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_logo2{
    font-size: 70px;
    color: rgb(213, 55, 76);
    font-family: monospace;
}
.box{
    width: 200px;
    height: 100px;
    float: left;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 25px;
    box-shadow: 0 0 10px #333;
}
